<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Progress Indicators
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">

    <ion-card-header>
      <ion-card-title><h1>ion-loading</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>An overlay that can be used to indicate activity while blocking user interaction. 
        The loading indicator appears on top of the app's content, and can be dismissed by 
        the app to resume user interaction with the app. It includes an optional backdrop, 
        which can be disabled by setting showBackdrop: false upon creation.</p>
    </ion-card-content>


    <ion-card-header>
      <ion-card-title>Creating</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Loading indicators can be created using a Loading Controller. They can be customized 
        by passing loading options in the loading controller's create method. The spinner name 
        should be passed in the spinner property, and any optional HTML can be passed in the content 
        property. If a value is not passed to spinner the loading indicator will use the spinner specified by the platform.</p>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Dismissing</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The loading indicator can be dismissed automatically after a specific amount of time 
        by passing the number of milliseconds to display it in the duration of the loading options. 
        To dismiss the loading indicator after creation, call the dismiss() method on the loading instance. 
        The onDidDismiss function can be called to perform an action after the loading indicator is dismissed.</p>
    </ion-card-content>


  </ion-card>
  <ion-button color="primary" expand="full" size="large" (click)="presentLoading()">Show Loading</ion-button>
  <ion-button color="primary" expand="full" size="large" (click)="presentLoadingWithOptions()">Show Loading With Options</ion-button>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><h1>ion-progress-bar</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        ion-progress-bar is a horizontal progress bar to visualize the progression of an operation and activity. 
        You can choose between two types: determinate and indeterminate.
      </p>
    </ion-card-content>


    <ion-card-header>
      <ion-card-title>Determinate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        If the percentage of an operation is known, you should use the determinate type. This is the default type and the progress 
        is represented by the value property.

        A buffer shows circles as animation to indicate some activity. If the buffer property is smaller than 1 you can show 
        the addditional buffering progress. 
      </p>
      <!-- Default Progressbar -->
      <ion-progress-bar></ion-progress-bar>

      <!-- Default Progressbar with 50 percent -->
      <ion-progress-bar value="0.8"></ion-progress-bar>

      <!-- Colorize Progressbar -->
      <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
      <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>

      <!-- Other types -->
      <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Indeterminate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        If an operation is in progress and it's not necessary to indicate how long it will take.

        If you add reversed="true", you receive a query which is used to indicate pre-loading.
      </p>
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
      <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
    </ion-card-content>


  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><h1>ion-spinner</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        The Spinner component provides a variety of animated SVG spinners. 
        Spinners are visual indicators that the app is loading content or performing 
        another process that the user needs to wait on.

        The default spinner to use is based on the platform. The default spinner 
        for ios is "lines", and the default for android is "crescent". If the platform 
        is not ios or android, the spinner will default to crescent. If the name property is set, 
        then that spinner will be used instead of the platform specific spinner.
      </p>
      <ion-list>
        <ion-list-header>
          <ion-label>Spinners</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-spinner color="primary" slot="start"></ion-spinner>
          <ion-label>Default</ion-label>
        </ion-item>
        <ion-item>
          <ion-spinner color="primary" name="lines" slot="start"></ion-spinner>
          <ion-label>Lines</ion-label> 
        </ion-item>
        <ion-item>
          <ion-spinner color="primary" name="lines-small" slot="start"></ion-spinner>
          <ion-label>Lines Small</ion-label> 
        </ion-item>
        <ion-item>
          <ion-spinner color="primary" name="dots" slot="start"></ion-spinner>
          <ion-label>Dots</ion-label>
        </ion-item>
        <ion-item>
          <ion-spinner color="primary" name="bubbles" slot="start"></ion-spinner>
          <ion-label>Bubbles</ion-label>
        </ion-item>
        <ion-item>
          <ion-spinner color="primary" name="circles" slot="start"></ion-spinner>
          <ion-label>Circles</ion-label>
        </ion-item>
        <ion-item>
          <ion-spinner color="primary" name="crescent" slot="start"></ion-spinner>
          <ion-label>Crescent</ion-label>
        </ion-item>
        <ion-item>
          <ion-spinner color="primary" slot="start" paused></ion-spinner>
          <ion-label>Paused</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
