<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Badge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><h1>ion-badge</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
          Badges are inline block elements that usually appear near another element. Typically they contain a 
          number or other characters. They can be used as a notification that there are additional items associated 
          with an element and indicate how many items there are.
      </p>

      <!-- Default -->
      <ion-badge>99</ion-badge>

      <!-- Colors -->
      <ion-badge color="primary">11</ion-badge>
      <ion-badge color="secondary">22</ion-badge>
      <ion-badge color="tertiary">33</ion-badge>
      <ion-badge color="success">44</ion-badge>
      <ion-badge color="warning">55</ion-badge>
      <ion-badge color="danger">66</ion-badge>
      <ion-badge color="light">77</ion-badge>
      <ion-badge color="medium">88</ion-badge>
      <ion-badge color="dark">99</ion-badge>

      <!-- Item with badge on left and right -->
      <ion-item>
        <ion-badge slot="start">11</ion-badge>
        <ion-label>My Item</ion-label>
        <ion-badge slot="end">22</ion-badge>
      </ion-item>
    </ion-card-content>

  </ion-card>

</ion-content>
  