<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>UI Components</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ionic apps are made of high-level building blocks called Components, 
          which allow you to quickly construct the UI for your app. Ionic comes stock 
          with a number of components, including cards, lists, and tabs. Once you’re 
          familiar with the basics, refer to the API Index for a complete list of 
          each component and sub-component.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
