<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Action Sheet
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-button size="large" (click)="presentActionSheet()" expand="block">Show Action Sheet</ion-button>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><h1>ion-action-sheet</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
          An Action Sheet is a dialog that displays a set of options. It appears on top of the app's content, 
          and must be manually dismissed by the user before they can resume interaction with the app. Destructive 
          options are made obvious in ios mode. There are multiple ways to dismiss the action sheet, including tapping 
          the backdrop or hitting the escape key on desktop.
      </p>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Creating</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
          An action sheet can be created by the Action Sheet Controller from an array of buttons, with each button 
          including properties for its text, and optionally a handler and role. If a handler returns false then the 
          action sheet will not be dismissed. An action sheet can also optionally have a title, subTitle and an icon.
      </p>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Buttons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
          A button's role property can either be destructive or cancel. Buttons without a role property will have the 
          default look for the platform. Buttons with the cancel role will always load as the bottom button, no matter 
          where they are in the array. All other buttons will be displayed in the order they have been added to the buttons 
          array. Note: We recommend that destructive buttons are always the first button in the array, making them the top 
          button. Additionally, if the action sheet is dismissed by tapping the backdrop, then it will fire the handler 
          from the button with the cancel role.
      </p>
    </ion-card-content>

  </ion-card>


</ion-content>
