<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  [routerLink]="[ '/navigation' ]">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detail page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" [routerLink]="[ '/navigation' ]"> navigation</ion-button>

  <h2>Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name: {{selectedHero.name}}
 
    </label>
  </div>
</ion-content>
