<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><h1>ion-list</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
      Lists are made up of multiple rows of items which can 
      contain text, buttons, toggles, icons, thumbnails, and much more. Lists generally 
      contain items with similar data content, such as images and text.

      Lists support several interactions including swiping items to reveal options, 
      dragging to reorder items within the list, and deleting items.
      </p>
    </ion-card-content>
  </ion-card>


  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>

  <!-- List of Input Items -->
  <ion-list>
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- List of Sliding Items -->
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>Item</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Items</ion-label>
    </ion-list-header>
    <ion-item>Item 1</ion-item>
    <ion-item>Item 2</ion-item>
    <ion-item>Item 3</ion-item>
    <ion-item>Item 4</ion-item>
    <ion-item>Item 5</ion-item>
  </ion-list>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><h1>ion-virtual-scroll </h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
          Virtual Scroll displays a virtual, "infinite" list. An array of records is passed to the virtual 
          scroll containing the data to create templates for. The template created for each record, referred to as a cell, 
          can consist of items, headers, and footers. For performance reasons, not every record in the list is rendered at once; 
          instead a small subset of records (enough to fill the viewport) are rendered and reused as the user scrolls.
      </p>
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>The Basics</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
          The array of records should be passed to the items property on the ion-virtual-scroll element. The data given to 
          the items property must be an array. An item template with the *virtualItem property is required in the ion-virtual-scroll. 
          The *virtualItem property can be added to any element.
      </p>
    </ion-card-content>


    <ion-card-header>
      <ion-card-title>Images Within Virtual Scroll</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
          HTTP requests, image decoding, and image rendering can cause jank while scrolling. In order to better control images, 
          Ionic provides ion-img to manage HTTP requests and image rendering. While scrolling through items quickly, ion-img knows 
          when and when not to make requests, when and when not to render images, and only loads the images that are viewable after
          scrolling. Read more about ion-img.

          It's also important for app developers to ensure image sizes are locked in, and after images have fully loaded they do not 
          change size and affect any other element sizes. Simply put, to ensure rendering bugs are not introduced, it's vital that 
          elements within a virtual item does not dynamically change.
          
          For virtual scrolling, the natural effects of the img are not desirable features. We recommend using the ion-img component 
          over the native img element because when an img element is added to the DOM, it immediately makes a HTTP request for the 
          image file. Additionally, <img> renders whenever it wants which could be while the user is scrolling. However, ion-img is 
          governed by the containing ion-content and does not render images while scrolling quickly.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-content>
    <ion-virtual-scroll [items]="items" approxItemHeight="40px">
      <ion-card color="light" *virtualItem="let item; let itemBounds = bounds;">
        <div>
          <img [src]="item.imgSrc" [height]="item.imgHeight" [alt]="item.name">
        </div>
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.content }}</ion-card-content>
      </ion-card>
    </ion-virtual-scroll>
  </ion-content>

</ion-content>
